<% include ../layout/header.ejs %>

  <div class="main">
    <div class="container">
      <div class="content add-post">
        <h2>Добавление поста</h2>
        <form method="post">
          <div class="form-group">
            <label for="post-title">Заголовок</label>
            <input type="text" id="post-title" name="title" />
          </div>
          <div class="form-group">
            <label for="post-body">Текст</label>
            <div id="post-body"></div>
          </div>
          <div class="buttons">
            <button class="save-button secondary-inverse">Сохранить как черновик</button>
            <button class="publish-button">Опубликовать</button>
          </div>
        </form>
      </div>

      <% include ../layout/sidebar.ejs %>

    </div>
  </div>

  <% include ../layout/footer.ejs %>